@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");

.background{
    background : url("./background.jpg");
    background-size : cover;
    background-position : center center;
}

.title{
    position : absolute;
    left : 50%;
    top : 10%;
    transform : translate(-50%, -50%);
}

.result{
    position : absolute;
    left : 50%;
    top : 90%;
    transform : translate(-50%, -50%);
}

.content{
    position : absolute;
    left : 50%;
    top : 50%;
    transform : translate(-50%, -50%);
}

.center{
    position : absolute;
    left : 60%;
    top : 50%;
    transform : translate(-50%, -50%);
}